.navIcon {
  height: 7vh;
  width: auto;
}
.navLink {
  background: transparent;
  border: none;
}
.FooterButtonActive--Gryffindor {
  background-color: #ae0001;
}
.FooterButtonActive--Hufflepuff {
  background-color: #ffed86;
}
.FooterButtonActive--Ravenclaw {
  background-color: #222f5b;
}
.FooterButtonActive--Slytherin {
  background-color: #2a623d;
}
.FooterButtonActive--Neutral {
  background-color: #d3d3d3;
}
