footer {
  position: fixed;
  bottom: 0;
  background-color: rgb(3, 3, 3);
  height: 15vh;
  padding-top: 5vh;
  color: white;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
